.container
  .row
    .col-md-12
      .panel.panel-default
        .panel-heading
          アカウント
        .panel-body
          = simple_form_for(current_user, url: registration_path(:user), html: {method: :put}) do |f|
            = f.error_notification
            = f.input :username, label: "ユーザー名"
            = f.input :email, label: "メールアドレス"
            = f.submit "保存する", class: 'btn btn-primary'

