.container
  .row
    .col-md-3.layout.vertical.start
      = render partial: "users/icon", locals: {user: @user}
      .profile
        %h3= @user.username
        - if user_signed_in? && current_user != @user
          = render partial: "users/follow", locals: {followee: @user}
    .col-md-9
      .layout.horizontal.stats
        .flex.layout.vertical.center
          .num= @user.followers_count
          .unit= "Follower".pluralize(@user.followers_count)
        .flex.layout.vertical.center
          .num= @user.items.count
          .unit= "Item".pluralize(@user.items.count)
      %hr
      %h3 Items
      = render_unless_empty @user.items.latest(10)
