.row
  = link_to "New Post", new_item_path, class: "btn btn-primary"
.row
  %ul.nav.nav-tabs
    %li{class: active_in(root_path)}= link_to "Feeds", root_path
    %li{class: active_in(items_path)}= link_to "All Items", items_path
    %li.pull-right{class: active_in(stocks_path)}= link_to "Stocks", stocks_path
    %li.pull-right{class: active_in(mines_path)}= link_to "Mines", mines_path

