.header
  %h2 プログラミング知識を共有しよう。
  = link_to "ノウハウ・Tipsを投稿する", new_item_path, class: "btn btn-primary"
%ul.nav.nav-tabs
  %li{class: active_in(root_path)}= link_to "フィード", root_path
  %li{class: active_in(all_items_path)}= link_to "すべての投稿", all_items_path
  %li.pull-right{class: active_in(mines_path)}= link_to "自分の投稿", mines_path
  %li.pull-right{class: active_in(stocks_path)}= link_to "ストック", stocks_path

