.container
  .row
    .col-md-12
      .layout.horizontal.center
        %h2= @tag.name
        = render partial: "followees/follow_link", locals: {followee: @tag}
      %hr
      .stats.layout.horizontal
        .flex.layout.vertical.center
          .num= @tag.taggables_count
          .unit 投稿
        .flex.layout.vertical.center
          .num= @tag.followers_count
          .unit フォロワー
      %hr
      .recent-stocked-items
        %h4 最近ストックされた投稿
        = render (items = @tag.items.only_public.recent_stocked.limit(10))
        - if items.length == 0
          最近ストックされた投稿はありません。
      %hr
      .recent-items
        %h4 新着投稿
        = render (items = @tag.items.only_public.latest(10))
