.container
  .row
    .col-md-12
      .layout.horizontal.center
        %h2= @tag.name
        - if user_signed_in?
          = follow_link_of @tag
      %hr
      .stats.layout.horizontal
        .flex.layout.vertical.center
          .num= @tag.taggables_count
          .unit= "Item".pluralize(@tag.taggables_count)
        .flex.layout.vertical.center
          .num= @tag.followers_count
          .unit= "Follower".pluralize(@tag.followers_count)
      %hr
      .recent-stocked-items
        %h4 Recent Stocked Items
        = render_unless_empty @tag.items.only_public.recent_stocked.limit(10)
      %hr
      .recent-items
        %h4 Recent Items
        = render_unless_empty @tag.items.only_public.latest(10)
