.header
  .container
    .row
      .col-md-9
        %h2= @item.title
        .tags
          = render @item.tags
        .author
          = link_to @item.author do
            = render partial: "users/icon", locals: {user: @item.author}
          #{link_to @item.author.username, @item.author}が#{@item.published_at.to_date}に投稿
      .col-md-3
        .stats.layout.horizontal.center
          .flex.layout.vertical.center
            .num= @item.stockers_count
            .unit ストック
          .flex.layout.vertical.center
            .num= @item.comments_count
            .unit コメント
        .actions
          = render partial: "items/stock", locals: {item: @item}
          - if @item.author == current_user
            .own.layout.horizontal
              = link_to "編集", edit_item_path(@item), class: "flex btn btn-default"
              = link_to "削除", @item, method: :delete, data: {confirm: "Are you sure?"}, class: "flex btn btn-danger"
.container
  .row
    .col-md-12
      .body
        = md @item.body
      .comments-area
        - if @item.comments.length > 0
          .comments
            = render @item.comments
        - if user_signed_in?
          .new-comment
            .header
              = render partial: "users/icon", locals: {user: current_user}
              コメントを投稿する
            = render "comments/form"

